body, input, textarea, button {
    background-color: #2B2B2B;
    color: #A9B7C6;
    font-family: "Fira Code", "Lucida Console", Monaco, monospace;
}

input, textarea, button {
    border: 1px solid #CB772F;
    margin: 1px;
}

body {
    padding-bottom: 5%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.75em;
    font-style: italic;
    padding: 20px 0 20px 0;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5, h6, p, li {
    font-size: 1em;
}

h1, .number {
    color: #6897BB;
}

h2, .keyword {
    color: #CB772F;
}

h3, h4, h5, h6, .htmlTag {
    color: #FFC66D;
}

.comment, small {
    color: #808080;
}

a {
    font-size: .9em;
    color: #A5C25C;
    text-decoration: underline;
}

a:hover {
    color: #619647;
}
